<!--home section-->
<div class="container-fluid home-section">
    <!--nav-->
    <nav class="row justify-content-center align-items-center nav-row">
      <div class="col-11 col-md-8 d-flex justify-content-center justify-content-md-start">
        <div><a class="bi bi-linkedin px-3" href="https://www.linkedin.com/in/samirahamadjibo/"> </a></div>
        <div class="font-headings px-3"> <a routerLink="/home#experiences"
            (click)="navigateToExperiences()">Expériences</a></div>
        <div class="font-headings px-3"> <a routerLink="/home#projects" (click)="navigateToProjects()">Projets</a></div>
        <div class="font-headings px-3"> <a routerLink="/home#contact" (click)="navigateToContact()">Contact</a></div>
      </div>
      <div class="col-0 col-md-3 d-flex justify-content-end display-md-none">
        <span class="theme-btn-primary"> <a href="../../../assets/documents/cv_samira_HAMADJIBO.pdf"
            download="cv_samira_HAMADJIBO">Téléchargez mon CV</a></span>
      </div>
    </nav>
  
    <div class="row scrolling-text-row align-items-center pt-3">
      <div class="col-12">
        <div class="scrolling-text-container width-max">
          <span class="scrolling-text">Angular 12,
            <pre>&emsp;&emsp;</pre>VueJs 3,
            <pre>&emsp;&emsp;</pre>Bootstrap,
            <pre>&emsp;&emsp;</pre>Java 14,
            <pre>&emsp;&emsp;</pre>Python,
            <pre>&emsp;&emsp;</pre>PostgreSql,
            <pre>&emsp;&emsp;</pre>Api/REST,
            <pre>&emsp;&emsp;</pre>
          </span>
          <span class="scrolling-text">Angular 12,
            <pre>&emsp;&emsp;</pre>VueJs 3,
            <pre>&emsp;&emsp;</pre>Bootstrap,
            <pre>&emsp;&emsp;</pre>Java 14,
            <pre>&emsp;&emsp;</pre>Python,
            <pre>&emsp;&emsp;</pre>PostgreSql,
            <pre>&emsp;&emsp;</pre>Api/REST,
            <pre>&emsp;&emsp;</pre>
          </span>
          <span class="scrolling-text">Angular 12,
            <pre>&emsp;&emsp;</pre>VueJs 3,
            <pre>&emsp;&emsp;</pre>Bootstrap,
            <pre>&emsp;&emsp;</pre>Java 14,
            <pre>&emsp;&emsp;</pre>Python,
            <pre>&emsp;&emsp;</pre>PostgreSql,
            <pre>&emsp;&emsp;</pre>Api/REST,
            <pre>&emsp;&emsp;</pre>
          </span>
          <span class="scrolling-text">Angular 12,
            <pre>&emsp;&emsp;</pre>VueJs 3,
            <pre>&emsp;&emsp;</pre>Bootstrap,
            <pre>&emsp;&emsp;</pre>Java 14,
            <pre>&emsp;&emsp;</pre>Python,
            <pre>&emsp;&emsp;</pre>PostgreSql,
            <pre>&emsp;&emsp;</pre>Api/REST,
            <pre>&emsp;&emsp;</pre>
          </span>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center justify-content-md-end home-row align-items-center">
      <div class="col-11 col-md-6 d-flex flex-column justify-content-center height-max pb-4">
        <div>
          <div class="fs-xl pb-4 fw-bold">Je m'appelle <strong>Samira</strong>, <br> étudiante en école d'ingénieur </div>
          <div class="fw-bold">de formation en informatique embarquée, <strong>j'ai un goût prononcé pour le web et je
              cherche un stage de 3 mois en tant de développeuse fullstack.</strong> </div>
        </div>
        <div class="carded home bg-color-linear-blue-purple d-flex flex-column mt-5 ">
          <div class="pb-3 fw-bold">Vous êtes la ? ça tombe bien je commence début Juin 🙂
          </div>
          <div>
            <span class="theme-btn-secondary mt-3 mb-2 fw-bold"><a routerLink="/home#contact"
                (click)="navigateToContact()">Contactez moi !</a></span>
          </div>
        </div>
      </div>
      <div class="col-0 col-md-5 display-md-none align-self-end home-row overflow-hidden">
        <img src="../../../assets/images/profile.png" alt="profile image of myself" class="profile-img">
      </div>
    </div>
  </div>
  
  <div class="container-fluid page-section">
    <div class="row pt-5 justify-content-center pt-4">
      <div class="col-12 col-sm-10 col-md-8">
        <div
          class="carded personal-project bg-color-orange-light d-flex flex-column justify-content-center align-items-center">
          <div class="font-headings text-center fs-lg">Dernière réalisation en VueJs</div>
          <div class="mt-5 pb-3 text-center">
            Un mini exercice en VueJs qui utilise la bibliothèque Axios et le protocole HTTP pour récupérer les derniers
            lancements des fusées SpaceX et un compte à retour pour le prochain !
            <div class="pt-2 text-center">
              Lien github: <strong><a
                  href="https://github.com/samirahamadjibo/spaceX">https://github.com/samirahamadjibo/spaceX</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row justify-content-center pb-5 my-5" id="experiences">
      <div class="col-12 py-5 h2 pb-5 text-center">
        Mes expériences professionnelles
      </div>
      <div class="col-10 col-md-6 d-flex justify-content-center">
        <div class="carded experiences  my-3 d-flex flex-column">
          <div class="h4 pb-2">Responsable qualité et designer</div>
          <div class="fst-italic pb-4">Junior EIDD Conseil </div>
          <div class=""> <strong> <a href="https://www.junior-eidd-conseil.fr">Junior EIDD Conseil
              </a></strong>fait partie du réseau des Juniors Entreprises qui servent de tremplin d’emploi aux
            étudiant en leur proposant des missions en lien avec leur études.
            <br><br>
            J'étais chargée de vérifier la conformité des documents de mettre en place et d'analyser des indicateurs de
            performance dans les différents pôles. En tant que designer j'ai produit les visuels de la Junior lors des
            différents évements et campagnes de communication.
          </div>
        </div>
      </div>
      <div class="col-10 col-md-4 d-flex justify-content-center">
        <div class="carded  experiences  my-3 d-flex flex-column">
          <div class="h4 pb-4">Agent d'exploitation à Amazon</div>
          <div class="fst-italic pb-4">AMAZON Brétigny</div>
          <div class="">
            Une expérience enrichissante au sein de la firme Amazon. Un véritable bootcamp dont on ressort rigoureux, et
            avec une éthique de travail qui a fait entre autre le succès de la boite.
          </div>
        </div>
      </div>
      <div class="col-10 col-md-5 d-flex justify-content-center">
        <div class="carded  experiences  my-3 d-flex flex-column">
          <div class="h4 pb-4">Développeuse Angular</div>
          <div class="fst-italic pb-4">En indépendant</div>
          <div class="">
            Une histoire simple: un client a besoin d'une application web pour son nouveau service dans le domaine des
            énergies. Je
            lui fourni une étude de ses besoins, un cahier des charges, un design retravaillé à sa convenance et surtout
            une
            apllication web qui répond à son besoin. <a href="https://www.ecotransition-energie.fr/">la voici.</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-5 d-flex justify-content-center">
        <div class="carded  experiences  my-3 d-flex flex-column">
          <div class="h4 pb-4">Développeuse Angular</div>
          <div class="fst-italic pb-4">THD software</div>
          <div class="">
            La ou tout a commencé.. s'auto former en temps record et développer une application d'administration pour des
            restaurant
            qui peuvent maintemant gérer leur commandes, horaires d'ouvertures, promotions au même endroit. et le début
            d'une
            passion pour le web.
          </div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center pt-5">
      <div class="col-10 col-md-6 scribble-decorator"></div>
    </div>
    <div class="row justify-content-center color-black">
      <div class="col-md-10 d-flex flex-column">
        <div class="carded bg-color-linear-pink-purple">
          <h2 class="text-center pb-5 pt-4">Mes valeurs</h2>
          <div class="text-center px-2 pb-4">
            On nait tous avec certaines affinités, certaines prédestinations: la mienne est de <strong>créer, d'aider er
              d'apporter des
              solutions.</strong> Et pour cela rien de mieux que du code. Les plus grands projets et infrastructures ont
            commencé avec des
            lignes de code, des vies se sont simplifiées, de façon radicales, ou même de façon plus anecdotiques.
            <br> <br>
            Je suis du camp de ceux qui veulent créer, qui veulent comprendre. Je suis du camp de ceux
            qui veulent avoir un impact.
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-10 col-md-6 scribble-decorator"></div>
    </div>
  
    <div class="row justify-content-center pb-5 my-5" id="projects">
      <div class="col-10 py-5 h2 pb-5 text-center">
        Quelques projets sur lesquels <br> j'ai travaillé
      </div>
  
      <div class="col-10 d-flex flex-wrap justify-content-center">
        <div class="carded regular bg-color-blue projects my-3 d-flex flex-column">
          <div class="h4 pb-2">Eco Transition Energie </div>
          <div class="">Un projet mené a bien de l'établissement du cahier des charges au design et developpement de
            l'application web. Ce projet a été également l'occasion de travailler mes soft skills en terme d'échanges avec
            le clients et mes capacités de gestion d'un projet. <br> <br> <a
              href="https://www.ecotransition-energie.fr/">www.ecotransition-energie.fr</a>
          </div>
        </div>
        <div class="carded regular bg-color-blue projects my-3 d-flex flex-column">
          <div class="h4 pb-2">MarkDown To HTML</div>
          <div class="">C'est un projet pédagogique de développement logiciel dont la finalité est de proposer un
            traducteur de fichiers Markdown vers une arborescence de fichiers html. Le projet est développé en
            <strong>Java 14</strong> et est une immersion dans le monde du développement logiciel en entreprise. </div>
        </div>
        <div class="carded regular bg-lego projects my-3 d-flex flex-column">
          <div class="h4 pb-2">Robot Pendule Inversé</div>
          <div class="">Un robot contruit en légo, monté d'un pendule inversé et la mission de le stabiliser avec un
            controlleur numérique. C'est un projet d'automatique numérique, au coeur de la spécialité Systèmes
            Informatiques Embarqués</div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center py-5 my-5">
      <div class="carded bg-color-orange-light col-10 scrolling-text-container d-flex flex-column align-items-center">
        <h3 class="text-center py-3">Liste exhaustive de mes compétences</h3>
        <div class="scrolling-text-container competences color-black my-5">
          <span class="scrolling-text small">
            <span class="fs-base">Java 14</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">C</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">PostgreSql</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Lisp</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Méthode Agile</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Python</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Angular 12</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">VueJs 3</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Bootstrap</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Git</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Linux</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Matlab</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Génie logiciel</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Système</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Orienté Objet</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Automatique</span>
            <span class="pastille-mini">&nbsp;</span>
          </span>
          <span class="scrolling-text small">
            <span class="fs-base">Java 14</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">C</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">PostgreSql</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Lisp</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Méthode Agile</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Python</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Angular 12</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">VueJs 3</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Bootstrap</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Git</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Linux</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Matlab</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Génie logiciel</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Système</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Orienté Objet</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Automatique</span>
            <span class="pastille-mini">&nbsp;</span>
          </span>
          <span class="scrolling-text small">
            <span class="fs-base">Java 14</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">C</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">PostgreSql</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Lisp</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Méthode Agile</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Python</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Angular 12</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">VueJs 3</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Bootstrap</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Git</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Linux</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Matlab</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Génie logiciel</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Système</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Programmation Orienté Objet</span>
            <span class="pastille-mini"></span>
            <span class="fs-base">Automatique</span>
            <span class="pastille-mini">&nbsp;</span>
          </span>
        </div>
        <div class="mb-4">
          <span class="theme-btn-primary"> <a href="../../../assets/documents/cv_samira_HAMADJIBO.pdf"
              download="cv_samira_HAMADJIBO">Téléchargez mon CV</a></span>
        </div>
      </div>
    </div>
  
  
    <div class="row justify-content-end pb-5" id="contact">
      <div class="col-11 py-5 pb-3 d-flex flex-column">
        <div>Vous voulez en savoir plus sur moi ?</div>
        <div class="h2 pt-3">Contact</div>
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="carded contact py-5 bg-color-linear-blue-purple d-flex flex-column pe-5">
              <div class="d-flex pb-3 fw-bold">
                <div class="bi bi-linkedin me-3"></div>
                <div><a href="https://www.linkedin.com/in/samirahamadjibo/">linkedin/in/samirahamadjibo</a></div>
              </div>
              <div class="d-flex fw-bold">
                <div class="bi bi-envelope-fill me-3"></div>
                <div><a href="mailto:samira.hamadjibo@gmail.com">samira.hamadjibo@gmail.com</a></div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-11 pt-4 pb-5">
        Ce site a été designé et crée from scratch par mes soins en Angular 12 & bootstrap 5 🧡
      </div>
    </div>
  
  </div>